{% comment %}
Component: AccountFilterGroup
Props:
  - identity_filter (required): current filter
  - identity_counts (required): dict with all/A/E/C counts
{% endcomment %}
{% load i18n %}
<div class="account-filter-group">
    <a class="account-filter {% if not identity_filter %}active{% endif %}" href="{% url 'web_app:account_management' %}">
        {% trans "全部" %} <span>{{ identity_counts.all }}</span>
    </a>
    <a class="account-filter {% if identity_filter == 'A' %}active{% endif %}" href="{% url 'web_app:account_management' %}?identity=A">
        {% trans "管理者" %} <span>{{ identity_counts.A }}</span>
    </a>
    <a class="account-filter {% if identity_filter == 'E' %}active{% endif %}" href="{% url 'web_app:account_management' %}?identity=E">
        {% trans "員工" %} <span>{{ identity_counts.E }}</span>
    </a>
    <a class="account-filter {% if identity_filter == 'C' %}active{% endif %}" href="{% url 'web_app:account_management' %}?identity=C">
        {% trans "顧客" %} <span>{{ identity_counts.C }}</span>
    </a>
</div>
